.DS_Store
node_modules
/backend/backend/settings.py
/backend/orders/gerbers
/backend/orders/images
/backend/orders/current
/dist
env
cert

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
